In [14]:
import pandas.util.testing as tm
import pandas as pd
tm.N, tm.K = 15, 3  # Module-level default rows/columns

import numpy as np
np.random.seed(444)

df = tm.makeDataFrame()
df

                   A         B         C
dWxid0Nm2V -0.650078  1.309005 -0.075697
iPSkApIYs7  0.467718 -1.621449  0.472508
mkqZyagwak -0.978244 -1.223276  0.433292
7dWg8N8z9J  1.622561  0.258372 -1.145501
AihZnc28pj  0.943451  0.540705  1.959270
IjyzZcsi79  0.645811 -0.210238  0.433279
SbAATk1U2x -2.439433 -0.824710  1.542175
gWWBQGka0V -0.369971  1.009086  0.833122
Fm4bPBTyUv -1.083235  0.605740  1.277340
yj9eRMgeX4  1.666211  0.348214 -0.714293
slx5dKkpkI  0.811157 -0.139900 -0.126947
DnTLGGTiRH -1.162884 -0.536561  1.111996
FWPBRn9jts -1.364761 -0.886787  0.807430
R7B3wWfvuD  0.073522  0.107101 -0.044810
AyJ0BTjehH -0.158240 -0.740890 -0.311915

In [17]:
x =  np.random.randn(10)
df2 = pd.DataFrame({'D':x})
df2

          D
0  1.426146
1 -0.556619
2  0.567669
3  0.869353
4  1.125903
5  0.696824
6 -1.185375
7 -1.107408
8  1.130693
9  1.768770

In [25]:
df3=pd.concat([df,df2],axis=1,ignore_index=True)

/home/teristam/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:1: FutureWarning: Sorting because non-concatenation axis is not aligned. A future version
of pandas will change to not sort by default.

To accept the future behavior, pass 'sort=False'.

To retain the current behavior and silence the warning, pass 'sort=True'.

  """Entry point for launching an IPython kernel.

In [24]:
df3.D

AttributeError: 'DataFrame' object has no attribute 'D'