In [1]:
import numpy as np
import pandas as pd

In [3]:
x = np.random.randn(3,100)

In [6]:
s = pd.Series([1,2,3,np.nan,6,x,'test'])

In [7]:
s

0                                                    1
1                                                    2
2                                                    3
3                                                  NaN
4                                                    6
5    [[-1.9549744014039576, 0.8814760104222492, 0.2...
6                                                 test
dtype: object

In [8]:
dates = pd.date_range('20130101',periods=6)
dates

DatetimeIndex(['2013-01-01', '2013-01-02', '2013-01-03', '2013-01-04',
               '2013-01-05', '2013-01-06'],
              dtype='datetime64[ns]', freq='D')

In [10]:
df = pd.DataFrame(np.random.randn(6,4), index=dates, columns=list('ABCD'))
df

                   A         B         C         D
2013-01-01 -0.475722  1.266507  2.275995  1.515856
2013-01-02 -0.196797  1.183771  0.412676  0.075873
2013-01-03  0.763684 -0.938342  1.694727 -1.023889
2013-01-04 -0.064518 -0.531001 -0.151214 -0.290917
2013-01-05 -1.294973 -0.205481 -1.722479 -0.096731
2013-01-06  0.847523  0.264716 -0.791638 -0.516724

In [16]:
df2 = pd.DataFrame({'A':1.,
                    'B':pd.Timestamp('20130102'),
                  'C': pd.Series(1,index=list(range(4)),dtype='float32'),
                  'D': np.array([3]*4,dtype='int32'),
                  'E': pd.Categorical(['test', 'train', 'test', 'train']),
                  'F': 'foo'})
df2

     A          B    C  D      E    F
0  1.0 2013-01-02  1.0  3   test  foo
1  1.0 2013-01-02  1.0  3  train  foo
2  1.0 2013-01-02  1.0  3   test  foo
3  1.0 2013-01-02  1.0  3  train  foo

In [19]:
d = {'A':1,'B':np.zeros((10,3)),'C':np.zeros((10,1))}

In [22]:
import spikeinterface.extractors as se
import pickle

f = open('../testData/M1_D31_2018-11-01_12-28-25/processed/mountainsort4/sorter_curated.pkl','rb')
sorting_ms4_curated = pickle.load(f)

In [38]:
sorter = sorting_ms4_curated

def sorter2dataframe(sorter):
    clusterList = []
    for i in sorter.get_unit_ids():
        unit_property=sorter.get_unit_property_names(i)
        spike_property = sorter.get_unit_spike_feature_names(i)

        propertyDict = {}
        for p in unit_property:
            propertyDict[p] = sorter.get_unit_property(i,p)

        for p in spike_property:
            propertyDict[p] = sorter.get_unit_spike_features(i,p)

        propertyDict['spike_train'] = sorter.get_unit_spike_train(i)
        propertyDict['unit_id'] = i

        clusterList.append(propertyDict)
    
    return pd.DataFrame(clusterList)

dataframe = sorter2dataframe(sorter)
dataframe

,max_channel,mean_firing_rate,number_of_spikes,spike_train,template,unit_id,waveforms
0,0,36.764860,117059,"[242, 567, 1262, 1392, 2260, 2379, 2877, 3278,...","[[-0.35650146, -1.5681293, -1.7514553, -0.7962...",1,"[None, None, None, None, None, None, None, Non..."
1,0,5.237765,16677,"[463, 1790, 3522, 4974, 7468, 10008, 12282, 14...","[[-2.6953917, -1.9151008, -1.9438337, -0.78416...",2,"[None, None, None, None, None, None, None, Non..."
2,1,30.507934,97137,"[409, 1133, 2423, 2570, 3157, 4037, 4049, 5420...","[[0.8625003, 1.0374027, 0.7993587, 0.85495293,...",3,"[None, None, None, None, None, None, None, Non..."
3,2,11.167429,35557,"[5853, 9169, 11909, 15129, 18884, 19485, 20107...","[[-2.192498, 0.14396256, 0.47732222, 2.4351015...",4,"[None, None, None, None, None, None, None, Non..."
4,3,104.000593,331137,"[75, 639, 782, 988, 1032, 1504, 1847, 1920, 19...","[[0.9048519, -0.21475098, -0.5618425, -0.31058...",5,"[None, None, None, None, None, None, None, Non..."
5,4,7.097695,22599,"[2504, 8769, 10023, 11257, 11445, 11761, 11886...","[[-0.8538655, 0.5779413, 0.5843898, -0.0222975...",7,"[None, None, None, None, None, None, None, Non..."
6,4,56.105364,178639,"[59, 86, 918, 2484, 3452, 4017, 4336, 5340, 56...","[[1.7785981, 2.0040517, 0.58384025, -0.3460794...",8,"[None, None, None, None, None, None, None, Non..."
7,5,80.070566,254944,"[1565, 3060, 3239, 3593, 3978, 5778, 6060, 650...","[[0.2975795, -1.5929512, -0.3668822, -0.472922...",9,"[None, None, None, None, None, None, None, Non..."
8,6,12.838916,40879,"[305, 2702, 3125, 3372, 7589, 10406, 10820, 11...","[[-4.403374, -2.3247595, -2.150651, -1.6359646...",10,"[None, None, None, None, None, None, None, Non..."
9,6,6.788649,21615,"[1044, 2062, 2966, 5471, 6720, 9820, 12971, 16...","[[2.0329847, 2.2835317, 2.1255922, -0.48486167...",11,"[None, None, None, None, None, None, None, Non..."
10,6,5.067853,16136,"[76031, 90283, 95615, 97955, 98081, 106341, 11...","[[2.1780088, 2.5240288, 2.5511246, 2.0608964, ...",13,"[None, None, None, None, None, None, None, Non..."
11,7,3.244355,10330,"[218, 1456, 2443, 4362, 5441, 8684, 11243, 127...","[[0.9849109, 1.2582023, 1.4134158, 3.340626, 2...",14,"[None, None, None, None, None, None, None, Non..."
12,7,10.143243,32296,"[326, 1721, 2521, 3628, 3832, 4943, 12032, 153...","[[-0.63356817, -0.14297228, 0.9681878, 1.33992...",15,"[None, None, None, None, None, None, None, Non..."
13,8,15.458584,49220,"[175, 476, 1823, 2402, 3605, 4092, 4786, 5951,...","[[-2.610475, -1.5785923, 0.685577, 2.0353084, ...",16,"[None, None, None, None, None, None, None, Non..."
14,8,6.567229,20910,"[50138, 120064, 122274, 126098, 126812, 134511...","[[1.6010022, 1.3272877, 2.2293904, 1.6930932, ...",17,"[None, None, None, None, None, None, None, Non..."
15,9,25.134175,80027,"[195, 1589, 3178, 3548, 3732, 4349, 5370, 6524...","[[1.1984413, -0.40292042, 1.4563568, -0.155819...",18,"[None, None, None, None, None, None, None, Non..."
16,9,2.282984,7269,"[1971, 5254, 21880, 27440, 35559, 42376, 43524...","[[-0.89433616, -0.2219008, -0.9942881, -1.4921...",19,"[None, None, None, None, None, None, None, Non..."
17,10,12.980876,41331,"[4643, 5156, 6166, 17117, 22721, 23256, 23853,...","[[-1.4664577, 0.15564173, -1.3848188, -1.17239...",21,"[None, None, None, None, None, None, None, Non..."
18,11,24.896424,79270,"[3, 372, 727, 6184, 8172, 9348, 13469, 13769, ...","[[-0.8875787, -2.4929185, -2.0967803, 2.156780...",22,"[None, None, None, None, None, None, None, Non..."
19,12,19.573231,62321,"[1610, 3328, 6910, 8331, 8725, 16466, 19044, 2...","[[-2.179128, 1.6033127, 1.1888685, -0.43901503...",23,"[None, None, None, None, None, None, None, Non..."

In [33]:
dataframe.to_pickle('sorted_cluster_dataframe.pkl')

In [37]:
print(dataframe)

None